@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
  text-transform: lowercase;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3A4653;
    line-height: 1.4;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      height: 100%;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
small {
    font-size: 12px;
    color: gray;
}
h2 a {
  color: gray;
}
.main-header {
    background-color: rgba(237,237,237,0.1);
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all .3s;
}
.change-header {
    padding: 10px 40px;
}
.logo {
    display: inline-block;
    margin: 0;
    font-size: 40px;
    color: #3A4653;
    font-weight: bold;
    margin-left: 50px;
}
nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(58, 70, 83, 0.99);
    z-index: 9998;
    display: none;
}
nav .nav-links-holder {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
     }
nav ul {
    text-align: center;
}
nav li {
    margin-bottom: 30px;
}
nav ul li:last-child {
    margin-bottom: 0;
}
nav ul li a {
    font-size: 40px;
    color: #ededed;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #4281A4;
    text-decoration: none;
}
.nav-button {
    position: absolute;
    top: 40px;
    right: 90px;
    z-index: 9999;
    cursor: pointer;
    transition: all .3s;
}
.change-header .nav-button {
    top: 20px;
}
.nav-button span {
    width: 30px;
    height: 3px;
    background-color: #95999e;
    display: block;
    transition: all .3s;
}
.white span {
    background-color: #fff;
}
.nav-button span:nth-child(2) {
    margin: 5px 0;
}
#home, #products, #bracelets {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home {
    background-image: url("../img/photos/azasajt/1a.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.scroll-down {
  position: absolute;
  left:1.5vw;
  bottom: 32vh;
  font-size: 9px;
  z-index: 10;
}
/*background-image:url("../img/photos/azasajt/slide5a.jpg");*/
#home h2 {
    color: gray;
    background-image:url("../img/photos/archive/resize/sivprof.jpg");
    padding: 30px;
}
#home,#bracelets  {
    background-image:url("../img/photos/azasajt/1a.jpg");
    background-size: cover;
}
#bracelets {
  /*background-image: url("../img/photos/azasajt/bracelets/n16-hor.jpg");*/
  background-image:url("../img/photos/azasajt/bracelets/n16-hor.jpg");
  padding-bottom: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 520px;
}
#products {
  margin-top: 2px;
}
#products p {
    text-align: center;
}
#bracelets h2 {
    color: #gray;
}
#bracelets {
    margin-bottom: 60px;
}
.img-holder:nth-of-type(6n+7) {
  clear:both;
}
#contact {
  background-image: url("../img/photos/archive/resize/a7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  color:#fff;
  box-sizing: border-box;
}
.archive .write-me{
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
.bcg-wrap {
  clip:rect(0,auto,auto,0);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg {
  position: fixed;
  display: block;
  top:0;
  left:0;
  width: 100%;
  background-image: url("../img/photos/archive/003.jpg");
  background-size: cover;
  background-position: center bottom;
  transform: translateZ(0);
  will-change: transform;
}
.form-control {
    border: 2px solid #3A4653;
    border-radius: 0;
}
.form-control:focus {
    outline: none;
    border-color: #3A4653;
    box-shadow: none;
}
textarea.form-control {
    height: 100px;
}
.form-btn {
    width: 140px;
    height: 40px;
    background-color: #4281A4;
    color: #ededed;
    border-radius: 0;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin: 30px 0;
    text-align: center;
}
.form-btn:hover {
    background-color: #3A4653;
    color: #ededed;
}
.btn:active:focus {
    outline: none;
}
.main-footer {
    background-color: #3A4653;
    text-align: center;
    padding: 34px 0;
}
footer,.mainfooter {
  height: 120px;
}
small {
  margin-top: 100px;
}
.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*paralax*/

.parallax {
  /* The image used */
  background-image: url("../img/photos/azasajt/1a.jpg");
  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bracelets {
  /* The image used */
  background-image: url("../img/photos/azasajt/bracelets/400-n16-1.jpgg");
  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bcc-img {
  background-image: url("../img/photos/archive/resize/a7.jpg");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  line-height: 280px;
}
.milos {
  /* The image used */
  background-image: url("../img/photos/azasajt/slide2a.jpg");
  /* Full height */
  width: 100%;
  height: 300px;
  line-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.miloss {
  /* The image used */
  background-image: url("../img/photos/azasajt/bracelets/n16-hor.jpg");
  /* Full height */
  min-width: 100%;
  height: 200px;
  line-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
address,h1 {
  margin-left: 25px;
}

.m_scroll_arrows{
  display: block;
  transform: rotate(45deg);
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.scroll  {
  margin-left: 50px;
}
.first {
  -webkit-animation-delay: .1s;
   margin-top: 1px;
    animation: mouse-scroll 1s infinite;
}
.second {
  animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
    animation: mouse-scroll 1s infinite;
  }
.third {
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
    animation: mouse-scroll 1s infinite;
  }

/* plugin validate */

.clearfix::before,
.clearfix::after{
  content: " ";
  display: table;
}
.clearfix::after {
  clear:both;
}
section .col:nth-last-of-type(2n+3){
  clear: both;
}
.write-me {
  padding-top:100px;
}
#contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.map {
        height: 300px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
.fb {
  margin: 0;
  padding: 0;

}
.fb,a{
  color:white;
}
